<p>register-template works!</p>

<div class="container">
  <div class="row">
    <div class="col-4 offset-4 bg-primary">
      <form #registerTemplateForm="ngForm" (ngSubmit)="submitEventHandler(registerTemplateForm.form.value)" novalidate>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="txtEmail"
            ngModel
            #email="ngModel"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
          <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
            <p *ngIf="email.errors?.['required']">Email is required</p>
            <p *ngIf="email.errors?.['pattern']">Email is invalid</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            ngModel
            #password="ngModel"
            required
            minlength="8"
            name="txtPassword"
            appCheckPasswordPattern
          />
          <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
            <p *ngIf="password.errors?.['required']">Password is required</p>
            <p *ngIf="password.errors?.['passwordPattern']">Password is invalid</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerTemplateForm.form.valid">Submit</button>
      </form>
      <div style="color: white">
        Form Values: {{ registerTemplateForm.form.value | json }}
      </div>
    </div>
  </div>
</div>
