

<nav
  class="navbar border-bottom border-primary border-width-5 py-2 mb-3"
  style="background-color: #e3edf6"
>
  <div
    class="container-fluid d-flex align-items-center justify-content-between flex-wrap"
  >
    <!-- Logo -->
    <div class="d-flex align-items-center">
      <img src="marsh logo.svg" alt="Logo" class="logo-img me-2" />
    </div>

    <!-- Title -->
    <div class="flex-grow-1 text-center">
      <h1 class="h4 m-0" style="color:#476EAE">Marsh Shopping Cart</h1>
    </div>

    <!-- Cart Icon -->
    <div class="d-flex align-items-center">
      <img src="cart.png" alt="Cart" class="cart-img ms-2" />
    </div>
  </div>
</nav>
