<!-- <h1>Hello<h1>

<p>Company Name : {{companyName}}</p>
<p>Is Member : {{isMember}}</p>
<p>Fruits aray : {{fruits}}</p>

<p>Employee Object : {{empObj}}</p>
<p>Employee Id : {{empObj.empId}}</p>

<p>Employee Object : {{empObj|json}}</p>

<br>
<h1>Date</h1>

<p>BirthDate : {{dob}}</p>
<p>BirthDate : {{dob|date}}</p>
<p>BirthDate : {{dob|date:'dd/MM/yyyy'}}</p>
<p>BirthDate : {{dob|date:'short'}}</p>


<div>
    <img src="download.jpg" alt="angular-image" width="300" height="200">
</div>

<div>
    <img src={{imgUrl}} alt="angular-image" width="300" height="200">
</div> -->

<app-header></app-header>
<!-- <app-home></app-home> -->
<app-search-products></app-search-products>

<app-footer></app-footer>